/*EN KOMMENTAR SER SÅDAN HER UD*/
/* GENERELLE REGLER FOR WEBSITE*/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* STYLING TIL ELEMENTER UNDENFOR */



#pilop2 {
    position: absolute;
    top: 87%;
    right: 23%;
    width: 6%;
    -webkit-animation: blink-2 4s 6s infinite both;
    animation: blink-2 4s 6s infinite both;
}

#elev1 {
    position: absolute;
    width: 7%;
    top: 65%;
    right: 49%;
}

#elev2 {
    position: absolute;
    width: 8%;
    top: 65%;
    right: 57%;
}

#elev3 {
    position: absolute;
    width: 8%;
    top: 65%;
    right: 37%;
}



.kontaktikon {
    position: absolute;
    top: 95%;
    right: 3%;
    width: 5%;
}

.infoikon {
    position: absolute;
    top: 95%;
    right: 8%;
    width: 3.5%;
}


#control {
    position: absolute;
    top: 92.5%;
    right: 17%;
    width: 11px;
}

#btnPause {
    width: 300%;
}

/* STYLING TIL ELEMENTER INDENFOR I ENTRÉ */


.baggrundsbillede2 {
    width: 100%;
    max-height: 100%;
    position: relative;
}



#pilop {
    position: absolute;
    top: 40%;
    right: 73%;
    width: 5%;
    -webkit-animation: blink-2 4s 6s infinite both;
    animation: blink-2 4s 6s infinite both;
}

#pilned {
    position: absolute;
    top: 55%;
    right: 5%;
    width: 5%;
    -webkit-animation: blink-2 4s 6s infinite both;
    animation: blink-2 4s 6s infinite both;
}

#pilned-indgang {
    position: absolute;
    top: 90%;
    right: 43%;
    width: 3%;
    -webkit-animation: blink-2 4s 6s infinite both;
    animation: blink-2 4s 6s infinite both;

}

#mand2 {
    position: absolute;
    width: 12%;
    top: 42%;
    right: 27%;
}


/* STYLING TIL ELEMENTER KANTINE */


#kantine {
    width: 90%;
    position: relative;
}


/* STYLING TIL ELEMENTER KLASSELOKALE */


#klasselokale {
    width: 100%;
    position: relative;
}

#pilvenstre {
    position: absolute;
    top: 35%;
    right: 95%;
    width: 5%;
}

#mandklasselokale {
    position: absolute;
    width: 12%;
    top: 37%;
    right: 23%;
}

#pilvenstre {
    position: absolute;
    top: 35%;
    right: 95%;
    width: 5%;
}





/* ANIMATION TIL PILE */


.blink-2 {
    -webkit-animation: blink-2 4s 6s infinite both;
    animation: blink-2 4s 6s infinite both;
}

@-webkit-keyframes blink-2 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink-2 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}
}

.blink-2 {
    -webkit-animation: blink-2 4s 6s infinite both;
    animation: blink-2 4s 6s infinite both;
}

@-webkit-keyframes blink-2 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink-2 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}


/* Til HOEVER EFFEKT */
/* SKAL BARE SLETTES SÅFREMT VI IKKE SKAL BRUGE DET */

.tooltip {
    position: absolute;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: beige;
    color: #fff;
    text-align: center;
    border-radius: 50px;
    padding: 20px 0;
    font-family: fantasy;
    font-size: 50px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 50%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
