/*EN KOMMENTAR SER SÅDAN HER UD*/
/* GENERELLE REGLER FOR WEBSITE*/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif, 'Amatic SC', cursive;
}


/* STYLING TIL ELEMENTER UNDENFOR */


h1 {
    position: absolute;
    color: white;
    top: 2%;
    left: 31%;
    font-size: 50px;
    font-family: 'Amatic SC';
}

h2 {
    position: absolute;
    color: white;
    top: 12%;
    left: 40%;
    font-size: 25px;
    font-family: 'Amatic SC';
}


#pilop2 {
    position: absolute;
    top: 87%;
    right: 23%;
    width: 6%;
    -webkit-animation: blink-2 4s 6s infinite both;
    animation: blink-2 4s 6s infinite both;
}

#elev1 {
    position: absolute;
    width: 7%;
    top: 65%;
    right: 49%;
}

#elev2 {
    position: absolute;
    width: 8%;
    top: 65%;
    right: 57%;
    -webkit-animation: heartbeat 7s ease-in-out 5s infinite both;
    animation: heartbeat 7s ease-in-out 5s infinite both;
}

#elev3 {
    position: absolute;
    width: 8%;
    top: 65%;
    right: 37%;
}


.kontaktikon {
    position: absolute;
    top: 95%;
    right: 3%;
    width: 5%;
}

.infoikon {
    position: absolute;
    top: 95%;
    right: 7.5%;
    width: 3.5%;
}


/* STYLING TIL LYDIKON */

#control {
    position: absolute;
    top: 95%;
    right: 14.5%;
    width: 12px;
    padding: 0;
}

#btnPause {
    width: 300%;
}

/* STYLING TIL ELEMENTER INDENFOR I ENTRÉ */


.baggrundsbillede2 {
    width: 100%;
    max-height: 100%;
    position: relative;
}



#pilop {
    position: absolute;
    top: 40%;
    right: 73%;
    width: 5%;
    -webkit-animation: blink-2 4s 6s infinite both;
    animation: blink-2 4s 6s infinite both;
}

#pilned {
    position: absolute;
    top: 55%;
    right: 5%;
    width: 5%;
    -webkit-animation: blink-2 4s 6s infinite both;
    animation: blink-2 4s 6s infinite both;
}

#pilned-indgang {
    position: absolute;
    top: 90%;
    right: 43%;
    width: 3%;
    -webkit-animation: blink-2 4s 6s infinite both;
    animation: blink-2 4s 6s infinite both;

}

#mand2 {
    position: absolute;
    width: 12%;
    top: 42%;
    right: 27%;
    -webkit-animation: heartbeat 7s ease-in-out 5s infinite both;
    animation: heartbeat 7s ease-in-out 5s infinite both;
}


/* STYLING TIL ELEMENTER KANTINE */


#kantine {
    width: 100%;
    height: 768px;
    position: relative;
}

#pilvenstrekantine {
    position: absolute;
    top: 35%;
    right: 90%;
    width: 9%;
}


/* STYLING TIL ELEMENTER KLASSELOKALE */


#klasselokale {
    width: 100%;
    position: relative;
    height: 768px;
}

#mandklasselokale {
    position: absolute;
    width: 14%;
    top: 43%;
    right: 19%;
    -webkit-animation: heartbeat 7s ease-in-out 5s infinite both;
    animation: heartbeat 7s ease-in-out 5s infinite both;
}

#pilvenstre {
    position: absolute;
    top: 45%;
    right: 92%;
    width: 8%;
}





/* ANIMATION TIL PERSONER */


.heartbeat {
    -webkit-animation: heartbeat 7s ease-in-out 5s infinite both;
    animation: heartbeat 7s ease-in-out 5s infinite both;
}

@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}






/* ANIMATION TIL PILE */


.blink-2 {
    -webkit-animation: blink-2 4s 6s infinite both;
    animation: blink-2 4s 6s infinite both;
}

@-webkit-keyframes blink-2 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink-2 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}
}

.blink-2 {
    -webkit-animation: blink-2 4s 6s infinite both;
    animation: blink-2 4s 6s infinite both;
}

@-webkit-keyframes blink-2 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink-2 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}
